#content-container {
    margin: 5px 5px 50px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#content-container img {
    height: 300px;
    width: auto;
    border: 20px solid #FAF9F6;
    border-radius: 50%;
    background-color: #FAF9F6;
}