.cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}

.card-container {
    background-color: #E8DCA2;
    border-radius: 32px;
    padding: 40px
}

.card {
    width: 80vw;
    height: 75vh;
    display: grid;
    grid-template-rows: 5vh 5vh 20vh 30vh 10vh;
    grid-template-areas:
            "h2"
            "h3"
            "img"
            "p"
            "button";
    grid-gap: 1rem;
}

.card h2 {
    grid-area: h2;
}

.card h3 {
    grid-area: h3;

}

.card p {
    grid-area: p;

}

.card button {
    grid-area: button;
    background-color: #436228;
    border-radius: 10px;
}

#post-image-1 {
    background-image: url("../images/blog-post-1.jpg");
}

#post-image-2 {
    background-image: url("../images/blog-post-2.jpg");
}

#post-image-3 {
    background-image: url("../images/blog-post-3.jpg");
}

#post-image-4 {
    background-image: url("../images/blog-post-4.jpg");
}

.post-image {
    grid-area: img;
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 16px;
}

@media (min-width: 900px) {
    .card {
        width: 500px;
        height: 350px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 80px;
        grid-template-columns: 280px 220px;
        grid-template-areas:
            "h2 img"
            "h3 img"
            "p img"
            "button img";
        grid-gap: 1rem;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .card {
        width: 85vw;
        height: 60vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 80px;
        grid-template-columns: 50vw 35vw;
        grid-template-areas:
            "h2 img"
            "h3 img"
            "p img"
            "button img";
        grid-gap: 1rem;
    }
}