.cards{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-container{
    background-color: #E8DCA2;
    border-radius: 32px;
    padding:40px
}

.card {
    width: 500px;
    height: 350px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 80px;
    grid-template-columns: 280px 220px;
    grid-template-areas:
            "h2 img"
            "h3 img"
            "p img"
            "button img";
    grid-gap: 1rem;

}

.card h2{
    grid-area: h2;
}

.card h3{
    grid-area: h3;

}

.card p {
    grid-area: p;

}

.card img {
    width: 100%;
    height: auto;
}

.post-image {
    background-image: url("../images/blog-post-1.jpg");
    grid-area: img;
}

.card button {
    grid-area: button;
    background-color: #436228;
    border-radius: 10px;
}

