@import "reset.css";
@import "navigation.css";
@import "typography.css";
@import "images.css";

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 70px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
            "header header header"
            "content content content"
            "footer footer footer";
}

header {
    background-color: #436228;
    grid-area: header;
}

#content {
    background-color: #F8F5E3;
    grid-area: content;
}

footer {
    background-color: #436228;
    grid-area: footer;
}

