#footer-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#social-media-items {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end ;
    gap: 20px;
    margin-right: 20px;
}

#social-media-items li {
    height: border-box;
    display: table;
}

.social-media__link {
    text-decoration: none;
    text-align: center;
    color: #E8DCA2;
    display: table-cell;
    vertical-align: middle;
    /*border: 1px solid hotpink ;*/
}

.social-media__link:hover {
    color: #FAF9F6;
}