<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/about.css">
    </head>
    <body>
        <header>
            <nav>
                <ul id="nav-items">
                    <li><a class="nav-item__link " href="./index.html">Home</a></li>
                    <li><a class="nav-item__link " href="./about.html">About</a></li>
                </ul>
            </nav>
        </header>
        <div id="content">

            <div id="content-container">
                <img src="../images/woman.png" alt="avatar">
                <h2>Barabara Barbara</h2>
                <span>Software Engineer</span>
                <span>Software AG</span>
                <p>
                    - Studied at University
                    <br>
                    - Worked at Company

                </p>
            </div>
        </div>
        <footer>
        </footer>
    </body>
</html>