<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blog Post 1</title>
    </head>
    <body>
        <header></header>
        <div class="content">
            Header
            Author Info
                Name
                Title
                Current Company/School
                Short Bio
                Avatar

        </div>
        <footer>
            Social Sharing
                Twitter
                Facebook
                LinkedIn
        </footer>
    </body>
</html>