<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Udacity Blog</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <header>
            <nav>
                <ul id="nav-items">
                    <li><a class="nav-item__link " href="./blog-post-1.html">Blog post 1</a></li>
                    <li><a class="nav-item__link " href="./blog-post-1.html">Blog post 2</a></li>
                    <li><a class="nav-item__link " href="./blog-post-1.html">Blog post 3</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <h1>Blog Homepage</h1>

            <section class="blog-post-card">
                <div class="card-container">
                    <h2>Blog Post Title</h2>
                    <h2>Blog Post Subtitle</h2>
                    <p>Post Preview Text</p>
                    <button>Read Post</button>
                </div>
            </section>
        </div>
        <!--        Image(s)-->
        <!--        Image caption-->
        <!--        Buttons-->
        <!--        Card-->

        <footer></footer>
    </body>
</html>