<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Udacity Blog</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <header>
            <nav>
                <ul id="nav-items">
                    <li><a class="nav-item__link " href="./blog-post-1.html">POST 1</a></li>
                    <li><a class="nav-item__link " href="./blog-post-1.html">POST 2</a></li>
                    <li><a class="nav-item__link " href="./blog-post-1.html">POST 3</a></li>
                    <li><a class="nav-item__link " href="./blog-post-1.html">POST 4</a></li>
                </ul>
            </nav>
        </header>
        <div id="content">
            <h1>Blog Homepage</h1>
            <div class="cards">
                <section class="card-container">
                    <div class="card">
                        <h2>Blog Post 1</h2>
                        <h3>Blog Post Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
                            pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
                            lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis ...
                             </p>
                        <div class="post-image" ></div>
                        <button>Read Post</button>
                    </div>
                </section>
                <section class="card-container">
                    <div class="card">
                        <h2>Blog Post 2</h2>
                        <h3>Blog Post Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
                            pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
                            lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis ...
                        </p>
                        <div class="post-image" ></div>
                        <button>Read Post</button>
                    </div>
                </section>

                <section class="card-container">
                    <div class="card">
                        <h2>Blog Post 3</h2>
                        <h3>Blog Post Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
                            pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
                            lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis ...
                        </p>
                        <div class="post-image" ></div>
                        <button>Read Post</button>
                    </div>
                </section>

                <section class="card-container">
                    <div class="card">
                        <h2>Blog Post 4</h2>
                        <h3>Blog Post Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
                            pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
                            lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis ...
                        </p>
                        <div class="post-image" ></div>
                        <button>Read Post</button>
                    </div>
                </section>
            </div>
        </div>
        <!--        Image(s)-->
        <!--        Image caption-->
        <!--        Buttons-->
        <!--        Card-->

        <footer></footer>
    </body>
</html>